<h1 class="title title-event is-4 navbar-item">Here is a list of all the users</h1>
<div class="event-tables tables">
  <table>
    <tbody>
      <% @users.each do |user| %>
        <tr class="box box-radius">
          <td class="column">User: <%=  user.name %></td>
          <td class="column">Email: <%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
