<h1 class="title title-event is-4 navbar-item is-capitalized">Here is a list of our events.</h1>

<div class="event-tables tables">
  <table>
    <thead>
      <tr>
        <th>
          <%= fa_icon "calendar" %>
          <span>Upcoming Events</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render partial:'posts', locals: { posts: @upcoming_events } %>
    </tbody>
</table>

  <table>

    <thead>
      <tr>
        <th>
          <%= fa_icon "calendar" %>
          <span>Previous Events</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render partial:'posts', locals: { posts: @prev_events } %>
    </tbody>
  </table>
</div>
